.root {
	-fx-font-family: "Roboto";
	-fx-font-smoothing-type: gray;
}

/**JFX Customizations*/
.jfx-decorator {
	-fx-decorator-color: derive(#64d2c2, -20%);
}
.jfx-decorator .resize-border {
	-fx-border-color: -fx-decorator-color;
	-fx-border-width: 0 4 4 4;
}
.jfx-decorator .jfx-decorator-title-container .jfx-decorator-text {
	-fx-fill: WHITE;
	-fx-font-size: 16;
}

.jfx-decorator .jfx-decorator-title-container .jfx-svg-glyph {
	-fx-shape: "M512 682c-128.024-99.309-255.626-199.040-384-298l384-298 384 298c-128.375 98.958-255.974 198.693-384 298zM512 792l314-246 70 54-384 298-384-298 70-54z";
	-jfx-size: 15;
	-fx-background-color: WHITE;
}
.jfx-text-field, .jfx-password-field {
	-fx-background-color: WHITE;
	-fx-font-weight: BOLD;
	-fx-prompt-text-fill: #808080;
	-fx-alignment: top-left;
	-jfx-focus-color: #4059A9;
	-jfx-unfocus-color: #4d4d4d;
	-fx-max-width: 300;
}